@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: $black;
  font-family: 'Flamenco',
    cursive;
  padding: 40px;
}

header {
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom: 165px;
}

.works {
  .works__header {
    @extend %grid;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .works__list {
    .works__work {
      @extend %grid;
      border-top: 1px solid $black;
      font-size: 25px;
      padding: 17px 0;
    }


  }

  margin-bottom: 80px;
}