@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: $black;
  font-family: 'Flamenco',
    cursive;
  padding: 40px;
}

header {
  font-size: 45px;
  letter-spacing: 1px;
  margin-bottom: 165px;
}

.works {
  .works__header {
    @extend %grid;
    padding-bottom: 10px;
    font-size: $tiny;
  }

  .works__list {
    .works__work {
      border-top: 1px solid $black;
      padding: 17px 0;
      display: flex;
      flex-direction: column;


      .works__title {
        cursor: pointer;
        font-size: 25px;
        @extend %grid;

        &:hover {
          font-style: italic;
        }
      }

      .works__content {
        padding-top: 70px;
        grid-column: 2/-1;
        width: 80%;
        align-self: center;
        font-size: 23px;
        line-height: 1.5;

        .works__content__des {
          margin-bottom: 50px;
        }

        .works__content__about {
          font-size: $tiny;
          margin-bottom: 50px;
        }

        .images {
          width: 100%;
          margin: 20px 0;

          img {
            width: 100%;
          }
        }
      }
    }


  }

  margin-bottom: 80px;
}

.cv {
  margin-bottom: 50px;
}

.about {
  margin-bottom: 35px;
}

.cv,
.about {
  font-size: 28px;
  line-height: 1.5;

  span {
    font-size: $tiny;
  }
}

a {
  color: $black;

  &:hover {
    font-style: italic;
  }
}



img[data-imgNum="0"] {
  z-index: calc(20 - 0);
}

img[data-imgNum="1"] {
  z-index: calc(20 - 1);
}

img[data-imgNum="2"] {
  z-index: calc(20 - 2);
}

img[data-imgNum="3"] {
  z-index: calc(20 - 3);
}

img[data-imgNum="4"] {
  z-index: calc(20 - 4);
}

img[data-imgNum="5"] {
  z-index: calc(20 - 5);
}

img[data-imgNum="6"] {
  z-index: calc(20 - 6);
}

.hidden {
  display: none;
}